
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/site.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ .Params.Style }}.css">
    <script async defer data-domain="tilde.town" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <div class="container">
      {{ block "main" . }}
      {{ end }}
    </div>
    <div class="footer">
      {{ block "footer" . }}
      {{ end }}
    </div>
  </body>
</html>
