@font-face {
  font-family: 'crimson';
  src: url('../fonts/crimson-bold-webfont.woff2') format('woff2'), url('fonts/crimson-bold-webfont.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'crimson';
  src: url('../fonts/crimson-bolditalic-webfont.woff2') format('woff2'), url('fonts/crimson-bolditalic-webfont.woff') format('woff');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'crimson';
  src: url('../fonts/crimson-italic-webfont.woff2') format('woff2'), url('fonts/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'crimson';
  src: url('../fonts/crimson-roman-webfont.woff2') format('woff2'), url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'crimson';
  src: url('../fonts/crimson-semibold-webfont.woff2') format('woff2'), url('fonts/crimson-semibold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'crimson';
  src: url('../fonts/crimson-semibolditalic-webfont.woff2') format('woff2'), url('fonts/crimson-semibolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'tex';
  src: url('../fonts/texgyreadventor-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tex';
  src: url('../fonts/texgyreadventor-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'crimson', Helvetica, Georgia, serif;
  font-size: 16px;
  padding: 1rem;
}

p, li, td {
  font-size: 1.25rem;
  line-height: 2rem;
}

strong {
  font-weight: bolder;
}

div.container {
  width: 968px;
  margin: 0 auto;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: 'tex', sans-serif;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  border-bottom: 1px solid #fff;
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
  text-decoration: underline;
}

table {
  margin: 1rem 0;
}

td, th {
  border: 1px solid #aaa;
  padding: 0.25rem;
}

img.logo {
  display: block;
  width: 391px;
  margin: 0 auto;
}

div.summary {
  margin: 1rem 0;
}