body {
    background-image: url("img/bg-paper.png");
    background-color: #fff;
    color: #000;
}

a {
    color: rgb(95, 67, 10);
}

a.anchor {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: rgb(51, 35, 10);
}

img.vd2-logo {
    display: block;
    margin: 0 auto;
    width: 596px;
}
