body {
  background-image: url("img/b-space.gif");
  background-color: #000;
  color: #fff;
  font-family: Helvetica, Georgia, serif;
  font-size: 16px;
  padding: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}